@{
	List<LocationDTO> locations = ViewBag.Locations;
	List<PlaceDTO> places = ViewBag.Places;
}


<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Admin Board</h1>
		<a asp-controller="Admins" asp-action="CreateLocation" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
			<i class="fas fa-plus-circle fa-sm text-white-50"></i> Create New Location
		</a>
		
	</div>

	<!-- Content Row -->
	<div class="row">

		<!-- Card -->
		<div class="col-md-12">
			<div class="card shadow mb-4 p-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Locations</h6>
				</div>

				<div class="card-body">
					<table id="tblLocation" class="table table-striped table-responsive" width="100%" cellspacing="0" >
						<thead>
							<tr>
								<th>LocationID</th>
								<th>City</th>
								<th>Region</th>
								<th>Country</th>
								<!-- Add more column headers as needed -->
							</tr>
						</thead>
						<tbody>
							@{
								foreach (var location in locations)
								{
									<tr>
										<td>@location.LocationID</td>
										<td>@location.City</td>
										<td>@location.Region</td>
										<td>@location.Country</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- Development Approach -->
		<div class="col-md-12">
			<div class="card shadow mb-4 p-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Places</h6>
				</div>

				<div class="card-body">
					<a asp-controller="Admins" asp-action="CreateAttractionPlace" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
						<i class="fas fa-plus-circle fa-sm text-white-50"></i> Create New Attraction Place
					</a>
					<a asp-controller="Admins" asp-action="CreateHotelPlace" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
						<i class="fas fa-plus-circle fa-sm text-white-50"></i> Create New Hotel Place
					</a>
					<a asp-controller="Admins" asp-action="CreateRestaurantPlace" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
						<i class="fas fa-plus-circle fa-sm text-white-50"></i> Create New Restaurant Place
					</a>
					<table id="tblPlace" class="table table-striped table-responsive" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>PlaceID</th>
								<th>Name</th>
								<th>Address</th>
								<th>Phone Number</th>
								<th>LocationID</th>
								<th>CategoryID</th>
								<!-- Add more column headers as needed -->
							</tr>
						</thead>
						<tbody>
							@{
								foreach (var place in places)
								{
									<tr>
										<td>@place.PlaceID</td>
										<td>@place.Name</td>
										<td>@place.Address</td>
										<td>@place.PhoneNumber</td>
										<td>@place.LocationID</td>
										<td>@place.CategoryID</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

</div>


@section scripts
{
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
	<script>
		$(document).ready(function () {
			// Apply DataTables to the first table
			$('#tblLocation').DataTable({
				"paging": true,
				"pageLength": 10, // Set the number of rows per page
				"lengthMenu": [10, 25, 50, 100]
			});

			// // Apply DataTables to the second table
			$('#tblPlace').DataTable({
				"paging": true,
				"pageLength": 10, // Set the number of rows per page
				"lengthMenu": [10, 25, 50, 100]
			});
		});
	</script>
}
